/* Header */
header {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 30px;
}

/* Card */
.card {
  background-color: rgb(135, 211, 202);
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 10px;
}
.btn--abs {
  cursor: pointer;
  position: absolute;
  right: 0;
  margin: 5px;
}
.btn__edit {
  width: 20%;
  background: transparent;
  border: 0;
  padding: 6px;
  transform: scale(1.1);
}
.btn__edit:active {
  transform: scale(1.5);
}

/* Form */
form {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
}
